* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 25%;
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4%;
    justify-content: center;
    align-content: center;
}

.card {
    margin-top: 4%;
    border: 1px solid hsl(0, 0%, 88%);
    height: fit-content;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card img {
    margin: auto;
    height: 14vh;
    width: auto;
}

#logo img {
    height: 80vh;
    width: auto;
}

form input {
    width: 100%;
    padding: 0.6rem 0.7rem;
    margin-bottom: 0.4rem;
    border: 1px solid hsl(0, 0%, 88%);
    border-radius: 3px;
    font-size: 12px;
    line-height: 16px;
    font-weight: lighter;
    color: rgb(126, 126, 126);
    background-color: rgb(248, 248, 248);
}

form .login-button {
    width: 100%;
    padding: 0.4rem 0.8rem;
    border: none;
    margin-top: 0.3rem;
    border-radius: 10px;
    font-size: 13px;
    line-height: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(72, 177, 238);
}

/* Line behind the text */
.line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-top: 1.1rem;
    margin-bottom: 1em;
}

.line-container::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    border-top: 1px solid #d3d3d3;
    z-index: -1;
}

.line-container span {
    background-color: white;
    padding: 0 1.2em;
    font-weight: normal;
    font-size: 0.9em;
    color: rgb(130, 130, 130);
}

a {
    text-align: center;
    margin-bottom: 1em;
    text-decoration: none;
}


a.facebook-login {
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(72, 177, 238);
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    text-align: center;
}

img.fb-logo-img {
    width: auto;
    height: 1.5em;
}

a.forgot-password {
    color: rgba(1, 0, 81, 0.833);
    font-size: 14px;
    margin-bottom: 0;
}

.registration {
    border: 1px solid hsl(0, 0%, 88%);
    height: fit-content;
    padding: 1.5rem 1rem;
    font-size: 14px;
    text-align: center;
    margin-top: 8px;
}

.registration a {
    color:rgb(72, 177, 238)
}

.download {
    text-align: center;
    padding: 1.1rem 0;
    margin-bottom: -5px;
    font-size: 14px;
}

.images {
    display: flex;
    justify-content: center;
}

.images img {
    width:100px;
    height:auto;
    margin: 4px;
}